.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}
.bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  width: 20px;
}

.profile {
  color: white;
  font-size: 25px;
  margin-bottom: 600px;
}

.profile__icons span :nth-child(1) {
  color: white;
  border: solid 1px white;
  padding: 7px 7px;
  border-radius: 20px;
  font-size: 20px;
}

.profile__icons span :nth-child(2) {
  color: white;
  border: solid 1px white;
  padding: 7px 7px;
  border-radius: 20px;
  font-size: 20px;
}

.profile__music {
  position: fixed;
  top: 0;
  margin-left: 20px;
  margin-top: 180px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 6px 15px;
  border-radius: 15px;
}

.fa-play {
  margin-left: 20px;
}
.profile_body {
  color: white;
}

.profile-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profile__icons span :nth-child(3) {
  border: solid 1px white;
  padding: 7px 7px;
  border-radius: 20px;
  font-size: 20px;
}

.profile-screen__photo img {
  width: 100px;
  height: 100px;
  border-radius: 40px;
  margin-bottom: 15px;
}

.profile-screen__name {
  font-size: 25px;
  margin-bottom: 8px;
}

.profile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 50px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.623);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile-nav__row i {
  font-size: 30px;
  margin-bottom: 15px;
}

.profile-nav__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
