.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 25px var(--horizontal-space) 20px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 640;
}

.fa-cog{
  position: relative;
}

.screen-header__icons span {
  position: flex;
  margin-left: 25px;
}

.screen-header__notification{
  position: absolute;
  left: -3px;
  bottom: 19px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
